.gs-container{
    clear:both;
    margin-left:-20px;
    overflow:hidden;
}
.gs-container>*{
    padding-left:20px;
    padding-top:20px;
    float:left;
    position:relative;
}
.gs-container:first-child{
    margin-top:-20px;
}

.default-3-5{
    width:60%;
}
.default-prefix-3-5{
    margin-left:60%;
}
.default-suffix-3-5{
    margin-right:60%;
}

.content-border{
    box-sizing:border-box;padding:4px;
    margin-top:20px;
    background-color:transparent;
    background-color:rgba(0,0,0,0.1);border-left:1px solid rgba(84,84,84,0.3);
    border-top:1px solid rgba(84,84,84,0.3);
    border-bottom:1px solid rgba(255,255,255,0.6);border-right:1px solid rgba(255,255,255,0.6)
}
.content-border>*{
    -webkit-box-shadow:0 0 2px 0 #868686;
    -moz-box-shadow:0 0 2px 0 #868686;
    box-shadow:0 0 2px 0 #868686;
    background-color:#dedede;
}
.content-border img{
    max-width:100%;
    height:auto;
    vertical-align:middle;
}
div.content-border{
    width:100%;
}
.content-border:first-child{
    margin-top:0;
}
span.content-border{
    display:inline-block;
    width:auto;
}
.ie .content-border img{
    vertical-align:bottom;
}
hr.divider{
    background-color:#d1d3d4;
    border:0;
    border-top:1px solid #d1d3d4;
    border-bottom:1px solid #f9f9fa;
    color:#d1d3d4;display:block;
    box-sizing:border-box;
    height:2px;
    margin:20px 0 0 0;
}
hr.divider:first-child{
    margin-top:0;
}

.desc{
    font-size:10px;
    text-transform:uppercase;
    color:#797d80;
}
.gray-stone{
    background-color:#ddded9;
    border-bottom:1px solid #fff;
    border-left:1px solid #d4d4d2;
    border-right:1px solid #d4d4d2;
    border-top:1px solid #c5c6c1;
    padding:20px;
}
header.header-primary{
    background:#000000;
    padding:17px 20px 11px 20px;margin:20px 0 0 0;
    -webkit-box-shadow:0 1px 2px #323232;
    -moz-box-shadow:0 1px 2px #323232;
    box-shadow:0 1px 2px #323232;
}
header.header-primary>h1,header.header-primary>h2,header.header-primary>h3,header.header-primary>h4{
    color:#dfe1e1;
    font-size:2.4em;
    font-weight:normal;
}




